<div class="slideout-content">
  <!-- Modal to add new user starts-->
  <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
    <div class="modal-dialog">
      <form class="add-new-user modal-content pt-0" (ngSubmit)="(newUserForm.form.valid)" #newUserForm="ngForm">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="toggleSidebar('new-grades-sidebar')">
          x
        </button>
        <div class="modal-header mb-1">
          <h5 class="modal-title" id="exampleModalLabel">New Grade</h5>
        </div>
        <div class="modal-body flex-grow-1">
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-fullname">Grade Name</label>
            <input type="text" class="form-control dt-full-name" id="basic-icon-default-fullname"
              placeholder="Grade name" name="name" [(ngModel)]="fullname"
              [class.error]="newUserForm.submitted && FNameRef.invalid" #FNameRef="ngModel" required
              aria-label="Group name" aria-describedby="basic-icon-default-fullname2" />
            <span *ngIf="newUserForm.submitted && FNameRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="FNameRef.errors.required">This field is required!</small>
            </span>
          </div>

          <button type="submit" class="btn btn-primary mr-1" (click)="submit(newUserForm)" rippleEffect>Submit</button>
          <button type="reset" class="btn btn-outline-secondary" (click)="toggleSidebar('new-grades-sidebar')"
            rippleEffect>
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Modal to add new user Ends-->
</div>