<div class="slideout-content">
  <!-- Modal to add new user starts-->
  <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
    <div class="modal-dialog">
      <form class="add-new-user modal-content pt-0" (ngSubmit)="(newUserForm.form.valid)" #newUserForm="ngForm">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="toggleSidebar('new-schools-sidebar')"
        >
          x
        </button>
        <div class="modal-header mb-1">
          <h5 class="modal-title" id="exampleModalLabel">New School</h5>
        </div>
        <div class="modal-body flex-grow-1">
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-fullname">School Name</label>
            <input
              type="text"
              class="form-control dt-full-name"
              id="basic-icon-default-fullname"
              placeholder="School name"
              name="user-fullname"
              [(ngModel)]="schoolName"
              [class.error]="newUserForm.submitted && FNameRef.invalid"
              #FNameRef="ngModel"
              required
              aria-label="School name"
              aria-describedby="basic-icon-default-fullname2"
            />
            <span *ngIf="newUserForm.submitted && FNameRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="FNameRef.errors.required">{{'This field is required!' | translate}}</small>
            </span>
          </div>
          
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-fullname">School Phone Number</label>
            <input
              type="text"
              class="form-control dt-full-name"
              id="basic-icon-default-fullname"
              placeholder="School Number"
              name="user-number"
              [(ngModel)]="schoolNumber"
              [class.error]="newUserForm.submitted && MNameRef.invalid"
              #MNameRef="ngModel"
              required
              aria-label="School Number"
              aria-describedby="basic-icon-default-fullname2"
            />
            <span *ngIf="newUserForm.submitted && MNameRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="MNameRef.errors.required">{{'This field is required!' | translate}}</small>
            </span>
          </div>

          <div class="form-group">
            <label class="form-label" for="basic-icon-default-email">School Email ID</label>
            <input
              type="text"
              id="basic-icon-default-email"
              class="form-control dt-email"
              placeholder="School Email id"
              aria-label="School Email id"
              aria-describedby="basic-icon-default-email2"
              name="user-email"
              [(ngModel)]="email"
              [class.error]="newUserForm.submitted && FEmailRef.invalid"
              #FEmailRef="ngModel"
              required
            />
            <span *ngIf="newUserForm.submitted && FEmailRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="FEmailRef.errors.required">{{'This field is required!' | translate}}</small>
            </span>
            <small class="form-text text-muted"> {{'You can use letters, numbers & periods' | translate}} </small>
          </div>

          <div class="form-group">
            <label class="form-label" for="basic-icon-default-email">School Owner Email ID</label>
            <input
              type="text"
              id="basic-icon-default-email"
              class="form-control dt-email"
              placeholder="school owner email id"
              aria-label="school owner email id"
              aria-describedby="basic-icon-default-email2"
              name="user-email-owner"
              [(ngModel)]="emailOwner"
              [class.error]="newUserForm.submitted && FEmailRef.invalid"
              #FEmailRef="ngModel"
              required
            />
            <span *ngIf="newUserForm.submitted && FEmailRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="FEmailRef.errors.required">{{'This field is required!' | translate}}</small>
            </span>
            <small class="form-text text-muted"> {{'You can use letters, numbers & periods' | translate}} </small>
          </div>
          
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-fullname">School Address</label>
            <input
              type="text"
              class="form-control dt-full-name"
              id="basic-icon-default-fullname"
              placeholder="School Address"
              name="address"
              [(ngModel)]="schoolAddress"
              [class.error]="newUserForm.submitted && FNameRef.invalid"
              #ANameRef="ngModel"
              required
              aria-label="School Address"
              aria-describedby="basic-icon-default-fullname2"
            />
            <span *ngIf="newUserForm.submitted && ANameRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="ANameRef.errors.required">{{'This field is required!' | translate}}</small>
            </span>
          </div>

           <div class="form-group">
            <label class="form-label" for="basic-icon-default-fullname">School Location</label>
            <input
              type="text"
              class="form-control dt-full-name"
              id="basic-icon-default-fullname"
              placeholder="School location"
              name="location"
              [(ngModel)]="schoolLocation"
              [class.error]="newUserForm.submitted && LNameRef.invalid"
              #LNameRef="ngModel"
              required
              aria-label="School Address"
              aria-describedby="basic-icon-default-fullname2"
            />
            <span *ngIf="newUserForm.submitted && LNameRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="LNameRef.errors.required">{{'This field is required!' | translate}}</small>
            </span>
          </div>

          <button type="submit" class="btn btn-primary mr-1" (click)="submit(newUserForm)" *ngIf="!isToUpdate"
            rippleEffect>{{'Submit' | translate}}</button>
          <button type="submit" class="btn btn-primary mr-1" (click)="submit(newUserForm)" *ngIf="isToUpdate"
            rippleEffect>{{'Update' | translate}}</button>
          <button
            type="reset"
            class="btn btn-outline-secondary"
            (click)="toggleSidebar('new-schools-sidebar')"
            rippleEffect
          >
            {{'Cancel' | translate}}
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Modal to add new user Ends-->
</div>
