<div class="newdevice">
    <!-- Modal to add new user starts-->
    <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
        <div class="modal-dialog">
            <form class="add-new-user modal-content pt-0" (ngSubmit)="(newUserForm.form.valid)" #newUserForm="ngForm">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="toggleSidebar('app-userProfile')">
                    ×
                </button>
                <div class="modal-header mb-1">
                    <h5 class="modal-title" id="exampleModalLabel">{{'Edit Profile' | translate}}</h5>
                </div>
                <div class="modal-body flex-grow-1">

                    <div class="form-group">
                        <label class="form-label" for="basic-icon-default-email">{{'Email' | translate}}</label>
                        <input type="text" id="basic-icon-default-email" class="form-control dt-email"
                            placeholder="john.doe@example.com" aria-label="john.doe@example.com"
                            aria-describedby="basic-icon-default-email2" name="user-email" [(ngModel)]="email"
                            [class.error]="newUserForm.submitted && FEmailRef.invalid" #FEmailRef="ngModel" disabled required />
                        <span *ngIf="newUserForm.submitted && FEmailRef.invalid" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="FEmailRef.errors.required">{{'This field is
                                required!' |
                                translate}}</small>
                        </span>
                        <small class="form-text text-muted"> {{'You can use letters, numbers & periods' | translate}}
                        </small>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="basic-icon-default-uname">{{'Mobile Number' | translate}}</label>
                        <input type="text" id="basic-icon-default-uname" class="form-control dt-uname"
                            placeholder="mobile number" aria-label="jdoe1" aria-describedby="basic-icon-default-uname2"
                            name="user-number" [(ngModel)]="mobilenumber"
                            [class.error]="newUserForm.submitted && MUserNameRef.invalid" #MUserNameRef="ngModel"
                            required />
                        <span *ngIf="newUserForm.submitted && MUserNameRef.invalid" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="MUserNameRef.errors.required">{{'This field is
                                required!' |
                                translate}}</small>
                        </span>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="basic-icon-default-address">{{'Address' | translate}}</label>
                        <input type="text" class="form-control dt-full-name" id="basic-icon-default-address"
                            placeholder="Address" name="user-address" [(ngModel)]="address"
                            [class.error]="newUserForm.submitted && addressRef.invalid" #addressRef="ngModel" required
                            aria-label="John Doe" aria-describedby="basic-icon-default-fullname2" />
                        <span *ngIf="newUserForm.submitted && addressRef.invalid" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="addressRef.errors.required">{{'This field is
                                required!' |
                                translate}}</small>
                        </span>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="basic-icon-default-firstname">{{'First Name' |
                            translate}}</label>
                        <input type="text" class="form-control dt-full-name" id="basic-icon-default-firstname"
                            placeholder="firstname" name="user-firstname" [(ngModel)]="firstname"
                            [class.error]="newUserForm.submitted && firstNameRef.invalid" #firstNameRef="ngModel"
                            required aria-label="John Doe" aria-describedby="basic-icon-default-fullname2" />
                        <span *ngIf="newUserForm.submitted && firstNameRef.invalid" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="firstNameRef.errors.required">{{'This field is
                                required!' |
                                translate}}</small>
                        </span>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="basic-icon-default-lastname">{{'Last Name' | translate}}</label>
                        <input type="text" class="form-control dt-full-name" id="basic-icon-default-lastname"
                            placeholder="lastname" name="user-lastname" [(ngModel)]="lastname"
                            [class.error]="newUserForm.submitted && LNameRef.invalid" #LNameRef="ngModel" required
                            aria-label="John Doe" aria-describedby="basic-icon-default-fullname2" />
                        <span *ngIf="newUserForm.submitted && LNameRef.invalid" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="LNameRef.errors.required">{{'This field is
                                required!' |
                                translate}}</small>
                        </span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-1" (click)="submit(newUserForm)"
                        rippleEffect>{{'Update' | translate}}</button>
                    <button type="reset" class="btn btn-outline-secondary" (click)="toggleSidebar('app-userProfile')"
                        rippleEffect>
                        {{'Cancel' | translate}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>