<div class="newdevice">
    <!-- Modal to add new user starts-->
    <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
        <div class="modal-dialog">
            <form class="add-new-user modal-content pt-0" (ngSubmit)="(newUserForm.form.valid)" #newUserForm="ngForm">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="toggleSidebar('credentials-groups-sidebar')">
                    ×
                </button>
                <div class="modal-header mb-1">
                    <h5 class="modal-title" id="exampleModalLabel">Add Bulk Credentials</h5>
                </div>
                <div class="modal-body flex-grow-1">

                    <div class="form-group">
                        <label class="form-label" for="basic-icon-default-userName">Device User Name</label>
                        <input type="text" class="form-control dt-full-name" id="basic-icon-default-userName"
                            placeholder="Devices Username" name="userName" [(ngModel)]="userName"
                            [class.error]="newUserForm.submitted && FNameRef.invalid" #FNameRef="ngModel" required
                            aria-label="Device" aria-describedby="basic-icon-default-deviceName2" />
                        <span *ngIf="newUserForm.submitted && FNameRef.invalid" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="FNameRef.errors.required">This field is
                                required!</small>
                        </span>
                    </div>


                    <div class="form-group">
                        <label class="form-label" for="basic-icon-default-password">Device Password</label>
                        <input type="text" class="form-control dt-full-name" id="basic-icon-default-password"
                            placeholder="Devices Password" name="password" [(ngModel)]="password"
                            [class.error]="newUserForm.submitted && FPassRef.invalid" #FPassRef="ngModel" required
                            aria-label="Device" aria-describedby="basic-icon-default-deviceName2" />
                        <span *ngIf="newUserForm.submitted && FPassRef.invalid" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="FPassRef.errors.required">This field is
                                required!</small>
                        </span>
                    </div>


                    <button type="submit" class="btn btn-primary mr-1" (click)="submit(newUserForm)" *ngIf="!isToUpdate"
                        rippleEffect>{{'Submit' | translate}}</button>
                    <button type="submit" class="btn btn-primary mr-1" (click)="submit(newUserForm)" *ngIf="isToUpdate"
                        rippleEffect>{{'Update' | translate}}</button>
                    <button type="reset" class="btn btn-outline-secondary" (click)="toggleSidebar('credentials-groups-sidebar')"
                        rippleEffect>
                        {{'Cancel' | translate}}
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Modal to add new user Ends-->
</div>