<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="row match-height">
      <!-- Medal Card -->
      <div class="col-xl-4 col-md-6 col-12" *ngIf="currentUser?.role == 'School'">
        <div class="card card-congratulation-medal">
          <div class="card-body">
            <h3>{{'You are in' | translate}} <b>{{ currentUser?.plan }} Plan</b>🎉</h3>

            <!-- <button type="button" class="btn btn-primary" rippleEffect>{{ currentUser?.plan }}</button> -->
            <!-- <img src="assets/images/illustration/badge.svg" class="congratulation-medal" alt="Medal Pic" /> -->
          </div>
        </div>
      </div>
      <!--/ Medal Card -->

      <!-- Statistics Card -->
      <div class="col-xl-12 col-md-12 col-12" *ngIf="currentUser?.role == 'Teacher'">
        <div class="card card-statistics">
          <div class="card-header">
            <h4 class="card-title">{{'Statistics' | translate}}</h4>
            <div class="d-flex align-items-center">
              <p class="card-text font-small-2 mr-25 mb-0">{{'Updated Just now'| translate}}</p>
            </div>
          </div>
          <div class="card-body statistics-body">
            <div class="row">
              <div class="col-sm-6 col-xl-3 mb-2 mb-xl-1">
                <div class="media">
                  <div class="avatar bg-light-primary mr-2">
                    <div class="avatar-content">
                      <i data-feather="user" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">{{countData.quickSession}}</h4>
                    <p class="card-text font-small-3 mb-0">{{'Quick Sessions'| translate}}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3 mb-2 mb-xl-1">
                <div class="media">
                  <div class="avatar bg-light-primary mr-2">
                    <div class="avatar-content">
                      <i data-feather="user" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">{{countData.liveSession}}</h4>
                    <p class="card-text font-small-3 mb-0">{{'Live Sessions'| translate}}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3 mb-2 mb-xl-1">
                <div class="media">
                  <div class="avatar bg-light-primary mr-2">
                    <div class="avatar-content">
                      <i data-feather="user" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">{{countData.scheduledSession}}</h4>
                    <p class="card-text font-small-3 mb-0">{{'Scheduled Sessions' | translate}}</p>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
      <!--/ Statistics Card -->


      <!-- Statistics Card -->
      <div class="col-xl-12 col-md-6 col-12" *ngIf="currentUser?.role == 'Admin'">
        <div class="card card-statistics">
          <div class="card-header">
            <h4 class="card-title">{{'Statistics' | translate}}</h4>
            <div class="d-flex align-items-center">
              <p class="card-text font-small-2 mr-25 mb-0">{{'Updated Just now' | translate}}</p>
            </div>
          </div>
          <div class="card-body statistics-body">
            <div class="row">
              <div class="col-sm-6 col-xl-3 mb-2 mb-xl-1">
                <div class="media">
                  <div class="avatar bg-light-primary mr-2">
                    <div class="avatar-content">
                      <i data-feather="user" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">{{ countData.schoolsCount }}</h4>
                    <p class="card-text font-small-3 mb-0">{{'All Users'| translate}}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3 mb-2 mb-xl-1">
                <div class="media">
                  <div class="avatar bg-light-primary mr-2">
                    <div class="avatar-content">
                      <i data-feather="user" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">{{ countData.Enterprise }}</h4>
                    <p class="card-text font-small-3 mb-0">{{'Enterprise Users'| translate}}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3 mb-2 mb-xl-1">
                <div class="media">
                  <div class="avatar bg-light-primary mr-2">
                    <div class="avatar-content">
                      <i data-feather="user" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">{{ countData.Premium }}</h4>
                    <p class="card-text font-small-3 mb-0">{{'Profession Users'| translate}}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3 mb-2 mb-xl-1">
                <div class="media">
                  <div class="avatar bg-light-primary mr-2">
                    <div class="avatar-content">
                      <i data-feather="user" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">{{ countData.Basic }}</h4>
                    <p class="card-text font-small-3 mb-0">{{'Basic Users'| translate}}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3 mb-2 mb-xl-1">
                <div class="media">
                  <div class="avatar bg-light-info mr-2">
                    <div class="avatar-content">
                      <i data-feather="user" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">{{ countData.schoolsActiveCount }}</h4>
                    <p class="card-text font-small-3 mb-0">{{'Active Customers'| translate}}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3 mb-2 mb-sm-0">
                <div class="media">
                  <div class="avatar bg-light-danger mr-2">
                    <div class="avatar-content">
                      <i data-feather="user" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">{{ countData.schoolsInActiveCount }}</h4>
                    <p class="card-text font-small-3 mb-0">{{'Inactive Customers'| translate}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ Statistics Card -->

      <!-- Statistics Card -->
      <div class="col-xl-8 col-md-6 col-12" *ngIf="currentUser?.role == 'School'">
        <div class="card card-statistics">
          <div class="card-header">
            <h4 class="card-title">{{'Statistics' | translate}}</h4>
            <div class="d-flex align-items-center">
              <p class="card-text font-small-2 mr-25 mb-0">{{'Updated Just now'| translate}}</p>
            </div>
          </div>
          <div class="card-body statistics-body">
            <div class="row">
              <div class="col-sm-6 col-xl-3 mb-2 mb-xl-1">
                <div class="media">
                  <div class="avatar bg-light-primary mr-2">
                    <div class="avatar-content">
                      <i data-feather="user" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">{{ countData.usersCount ? countData.usersCount :
                      countData.teachersCount + countData.studentsCount}}</h4>
                    <p class="card-text font-small-3 mb-0">{{'All Users'| translate}}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3 mb-2 mb-xl-1">
                <div class="media">
                  <div class="avatar bg-light-primary mr-2">
                    <div class="avatar-content">
                      <i data-feather="user" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">{{ countData.teachersCount }}</h4>
                    <p class="card-text font-small-3 mb-0">{{'Teachers'| translate}}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3 mb-2 mb-xl-1">
                <div class="media">
                  <div class="avatar bg-light-primary mr-2">
                    <div class="avatar-content">
                      <i data-feather="user" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">{{ countData.studentsCount }}</h4>
                    <p class="card-text font-small-3 mb-0">{{'Students'| translate}}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3 mb-2 mb-xl-1">
                <div class="media">
                  <div class="avatar bg-light-info mr-2">
                    <div class="avatar-content">
                      <i data-feather="user" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">{{ countData.teachersActiveCount }}</h4>
                    <p class="card-text font-small-3 mb-0">{{'Active Teachers'| translate}}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3 mb-2 mb-sm-1">
                <div class="media">
                  <div class="avatar bg-light-danger mr-2">
                    <div class="avatar-content">
                      <i data-feather="user" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">{{ countData.studentsActiveCount }}</h4>
                    <p class="card-text font-small-3 mb-0">{{'Active Students'| translate}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ Statistics Card -->

    </div>

    <div class="row match-height" *ngIf="isAdmin">
      <div class="col-lg-4 col-12">
        <div class="row match-height">
          <!-- Bar Chart Orders -->
          <div class="col-lg-6 col-md-3 col-6">
            <div class="card">
              <div class="card-body pb-50">
                <h6>{{'Total Payments'| translate}}</h6>
                <h2 class="font-weight-bolder mb-1" *ngIf="adminAnalyticsData">{{
                  adminAnalyticsData[0]?.tillDate[0]?.total }}</h2>
                <!-- <div id="statistics-bar-chart" #statisticsBarChartRef>
                  <apx-chart [series]="data.ordersChart.series" [chart]="{
                      height: 70,
                      width: isMenuToggled === false ? statisticsBarChartRef.offsetWidth : statisticsBar.chart.width,
                      type: 'bar',
                      stacked: true,
                      toolbar: {
                        show: false
                      }
                    }" [tooltip]="statisticsBar.tooltip" [colors]="statisticsBar.colors"
                    [dataLabels]="statisticsBar.dataLabels" [grid]="statisticsBar.grid"
                    [plotOptions]="statisticsBar.plotOptions" [dataLabels]="statisticsBar.dataLabels"
                    [xaxis]="statisticsBar.xaxis" [yaxis]="statisticsBar.yaxis"></apx-chart>
                </div> -->
              </div>
            </div>
          </div>
          <!--/ Bar Chart Orders -->

          <!-- Line Chart Profit -->
          <div class="col-lg-6 col-md-3 col-6">
            <div class="card card-tiny-line-stats">
              <div class="card-body pb-50">
                <h6>{{'Current Month'| translate}}</h6>
                <h2 class="font-weight-bolder mb-1" *ngIf="adminAnalyticsData">{{
                  adminAnalyticsData[0]?.monthWise[0]?.amount }}
                </h2>
                <!-- <div id="statistics-line-chart" #statisticsLineChartRef>
                  <apx-chart [chart]="{
                      height: 70,
                      width: isMenuToggled === false ? statisticsLineChartRef.offsetWidth : statisticsLine.chart.width,
                      type: 'line',
                      toolbar: {
                        show: false
                      },
                      zoom: {
                        enabled: false
                      }
                    }" [grid]="statisticsLine.grid" [stroke]="statisticsLine.stroke" [colors]="statisticsLine.colors"
                    [series]="data.profitChart.series" [markers]="statisticsLine.markers" [xaxis]="statisticsLine.xaxis"
                    [yaxis]="statisticsLine.yaxis" [tooltip]="statisticsLine.tooltip"></apx-chart>
                </div> -->
              </div>
            </div>
          </div>
          <!--/ Line Chart Profit -->

          <!-- Earnings Chart -->
          <!-- <div class="col-lg-12 col-md-6 col-12">
            <div class="card earnings-card">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <h4 class="card-title mb-1">Earnings</h4>
                    <div class="font-small-2">This Month</div>
                    <h5 class="mb-1">$4055.56</h5>
                    <p class="card-text text-muted font-small-2">
                      <span class="font-weight-bolder">68.2%</span><span> more earnings than last month.</span>
                    </p>
                  </div>
                  <div class="col-6">
                    <div id="earnings-donut-chart" #earningChartRef>
                      <apx-chart [chart]="{
                          type: 'donut',
                          width:
                            isMenuToggled === false ? earningChartRef.offsetWidth : earningChartoptions.chart.width,
                          height: 120,
                          toolbar: {
                            show: false
                          }
                        }" [dataLabels]="earningChartoptions.dataLabels" [series]="earningChartoptions.series"
                        [legend]="earningChartoptions.legend" [labels]="earningChartoptions.labels"
                        [stroke]="earningChartoptions.stroke" [colors]="earningChartoptions.colors"
                        [grid]="earningChartoptions.grid" [plotOptions]="earningChartoptions.plotOptions"></apx-chart>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!--/ Earnings Chart -->
        </div>
      </div>
      <div class="col-lg-8 col-12">
        <div class="card card-revenue-budget">
          <div class="row mx-0">
            <div class="col-md-12 col-12 revenue-report-wrapper">
              <div class="d-sm-flex justify-content-between align-items-center mb-3">
                <h4 class="card-title mb-50 mb-sm-0">{{'Revenue Report'| translate}}</h4>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center mr-2">
                    <span class="bullet bullet-primary font-small-3 mr-50 cursor-pointer"></span>
                    <span>{{'Payments'| translate}}</span>
                  </div>
                  <!-- <div class="d-flex align-items-center ml-75">
                    <span class="bullet bullet-warning font-small-3 mr-50 cursor-pointer"></span>
                    <span>Expense</span>
                  </div> -->
                </div>
              </div>
              <div id="revenue-report-chart" #revenueReportChartRef>
                <apx-chart *ngIf="adminAnalyticsData" [series]="adminAnalyticsData[0]?.revenueReport" [chart]="{
                    height: 230,
                    width:
                      isMenuToggled === false
                        ? revenueReportChartRef.offsetWidth
                        : (adminAnalyticsData[0]?.revenueReport[0].revenueReportChartoptions.chart.width || 908),
                    stacked: true,
                    type: 'bar',
                    toolbar: { show: false }
                  }" [plotOptions]="adminAnalyticsData[0]?.revenueReport[0].revenueReportChartoptions.plotOptions"
                  [colors]="adminAnalyticsData[0]?.revenueReport[0].revenueReportChartoptions.colors"
                  [dataLabels]="adminAnalyticsData[0]?.revenueReport[0].revenueReportChartoptions.dataLabels"
                  [legend]="adminAnalyticsData[0]?.revenueReport[0].revenueReportChartoptions.legend"
                  [grid]="adminAnalyticsData[0]?.revenueReport[0].revenueReportChartoptions.grid"
                  [xaxis]="adminAnalyticsData[0]?.revenueReport[0].revenueReportChartoptions.xaxis"
                  [yaxis]="adminAnalyticsData[0]?.revenueReport[0].revenueReportChartoptions.yaxis"></apx-chart>
              </div>
            </div>
            <!-- <div class="col-md-4 col-12 budget-wrapper">
              <div class="btn-group">
                <div ngbDropdown>
                  <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle budget-dropdown"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle rippleEffect>
                    2020
                  </button>
                  <div ngbDropdownMenu>
                    <a ngbDropdownItem href="javascript:void(0);">2020</a>
                    <a ngbDropdownItem href="javascript:void(0);">2019</a>
                    <a ngbDropdownItem href="javascript:void(0);">2018</a>
                  </div>
                </div>
              </div>
              <h2 class="mb-25">{{ data.revenueReport.analyticsData.currentBudget }}</h2>
              <div class="d-flex justify-content-center">
                <span class="font-weight-bolder mr-25">Budget:</span>
                <span>{{ data.revenueReport.analyticsData.totalBudget }}</span>
              </div>
              <div id="budget-chart" #budgetChartRef>
                <apx-chart [series]="data.revenueReport.budgetChart.series" [chart]="{
                    height: 80,
                    width: isMenuToggled === false ? budgetChartRef.offsetWidth : budgetChartoptions.chart.width,
                    toolbar: { show: false },
                    zoom: { enabled: false },
                    type: 'line',
                    sparkline: { enabled: true }
                  }" [stroke]="budgetChartoptions.stroke" [colors]="budgetChartoptions.colors"
                  [tooltip]="budgetChartoptions.tooltip"></apx-chart>
              </div>
              <button type="button" class="btn btn-primary" rippleEffect>Increase Budget</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isClient">
      <div class="row" style="justify-content:space-between">
        <div class="col-lg-4 col-md-12 col-12" *ngFor="let item of schoolAnalyticData">
          <div class="card card-revenue-budget">
            <div class="revenue-report-wrapper">
              <div class="d-sm-flex justify-content-between align-items-center mb-3">
                <h4 class="card-title mb-50 mb-sm-0">{{ item.revenueReport[0].name | translate}} {{['Teachers',
                  'Students'].includes(item.revenueReport[0].name) ? ('Logins' | translate): ('Users'| translate)}}</h4>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center mr-2">
                    <span class="bullet bullet-primary font-small-3 mr-50 cursor-pointer"></span>
                    <span>{{ item.revenueReport[0].name | translate}}</span>
                  </div>
                </div>
              </div>
              <div id="revenue-report-chart" #revenueReportChartRef>
                <apx-chart *ngIf="item" [series]="item?.revenueReport" [chart]="{
                  height: 230,
                  width:
                    isMenuToggled === false
                      ? revenueReportChartRef.offsetWidth
                      : item?.revenueReport[0].revenueReportChartoptions.chart.width,
                  stacked: true,
                  type: 'bar',
                  toolbar: { show: false }
                }" [plotOptions]="item?.revenueReport[0].revenueReportChartoptions.plotOptions"
                  [colors]="item?.revenueReport[0].revenueReportChartoptions.colors"
                  [dataLabels]="item?.revenueReport[0].revenueReportChartoptions.dataLabels"
                  [legend]="item?.revenueReport[0].revenueReportChartoptions.legend"
                  [grid]="item?.revenueReport[0].revenueReportChartoptions.grid"
                  [xaxis]="item?.revenueReport[0].revenueReportChartoptions.xaxis"
                  [yaxis]="item?.revenueReport[0].revenueReportChartoptions.yaxis"></apx-chart>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>