.popupmain{
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    .popheader{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
.popmaincotent{
    background: #ccc;
    border: 2px dashed #666;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 50px;
    .choose{
        background-color: #e1f0ff;
        padding: 8px;
        border-radius: 10px;
    }

}

.footer{
    .btns{
        background: #367ef7;
        color: #fff;
        border:none;
        padding: 20px 30px;
        border-radius: 8px;
    }
}
}

.addbtn{
    border: none;
    width: 50px;
    border: 1px solid #ccc;
    height: 50px;
    border-radius: 100px;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    background: #fff;
    // box-shadow: 2px 2px 3px 3px #ccc;
}
.main-video {
    display: flex;
    flex-wrap: wrap;
  }

  .col-video {
    background: #f6f6f6;
    border-radius: 8px;
    padding: 10px;
    margin-bottom:12px;

    .imgblk{
      img{
        width: 100%;
        height: 150px;
        object-fit: contain;
       }
    }
    .delicon{
      position: absolute;
      right: 2px;
      z-index: 9;
      background: #fff;
      height: 25px;
      border-radius: 100px;
      width: 25px;
      text-align: center;
      top: -8px;
      cursor: pointer;
     img{
      width: 20px;
     }
    }
  
  }
  .pghead{
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
    h3{
        margin: 0;
        font-weight: 800;
    }
  }

  .vdfooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0;
  }
.container-new{
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    .row{
        padding: 0 10px;
        .col-sm-3{
            padding: 6px;
        }
    }
}
  .popupmain {
    background: #fff;
    width: 400px;
    margin: 0 auto;
    box-shadow: 0px 5px 15px 5px #ccc;
    padding: 20px;
    border-radius: 15px;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .btnsave {
    background: #3a7aff;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 15px 35px;
  }
  .draganddrap {
    border: 2px dashed #cccc;
    background: #fafafa;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    padding: 70px 0;
    margin-bottom:20px;
    p{
        margin: 5px 0;
    }
    .choose{
        background: #e0ebfd;
        border-radius: 100px;
        padding: 3px 6px;
    }
  }
  
  .footerpopup{
    text-align: right;
  }
  .btncancel{
    background: none;
    border: none;
  }