<div class="container-new">
    <div class="row">
        <div class="col-sm-12">
            <div class="pghead">
                <h3>{{'Media' | translate}}</h3>
                <span class="addbtn" rippleEffect (click)="toggleSidebar('app-uploadmedia-sidebar')">
                    +
                </span>
                <span>
                    0.4GB / 15.0GB
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" *ngFor="let media of mediaList">
            <div [ngSwitch]="getMediaType(media.type)">
                <div *ngSwitchCase="'image'">
                    <div class="col-video">

                        <div class="delicon" (click)="deleteMedia(media)"><span>
                                <img src="../../../../../assets/images/icons/trash-2.jpg" alt="">
                            </span></div>
                        <div class="imgblk">
                            <img [src]="media.location" alt="img" srcset="" width="100%">
                        </div>


                    </div>
                </div>
                <div *ngSwitchCase="'audio'">
                    <div class="col-video">
                        <div class="delicon" (click)="deleteMedia(media)"><span>
                                <img src="../../../../../assets/images/icons/trash-2.jpg" alt="">
                            </span></div>
                        <audio width="100%" controls>
                            <source [src]="media.location" [type]="media.type">
                            Your browser does not support the audio tag.
                        </audio>

                    </div>
                </div>
                <div *ngSwitchCase="'video'">
                    <div class="col-video">
                        <div class="delicon" (click)="deleteMedia(media)"><span>
                                <img src="../../../../../assets/images/icons/trash-2.jpg" alt="">
                            </span></div>
                        <video width="100%" controls>
                            <source [src]="media.location" [type]="media.type">
                        </video>

                    </div>
                </div>
            </div>


        </div>
    </div>
    <core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" name="app-uploadmedia-sidebar"
        overlayClass="modal-backdrop"
        >
        <app-uploadmedia (uploadEve)="closeUploadModal($event)">
        </app-uploadmedia>
    </core-sidebar>
</div>