<div color="primary">
  <a class="title" href="/">{{ title }}</a>

  <div class="toolbar-spacer"></div>


  <!-- <button  *ngIf="!loginDisplay" (click)="login()">Login</button> -->
  <!-- <button  color="accent" *ngIf="loginDisplay" (click)="logout()">Logout</button> -->
  <div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <div class="card">
        <div class="card-body" *ngIf="currentUser.plan=='Basic'">
         <h2 > Please contact Administrator</h2>
           </div>
          <div class="card-body" *ngIf="currentUser.plan!='Basic'">
               <h2>Social SSO </h2>
               <p>
                   You must be a Global Administrator in your Azure AD & Google Account.<br>

                    To install onboarding application, use the sign in button to proceed.
                 </p>
               <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                 
                  <button type="submit" (click)="microSoftLogin()" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                          rippleEffect *ngIf="!loginDisplay" >
                          SignIn with Microsoft
                  </button>
                  <button type="submit" (click)="logout()" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                            rippleEffect *ngIf="loginDisplay" >
                            SignOut with Microsoft
                  </button> 
                </div>

                 <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                  <button type="submit" (click)="googleLogin()" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                          rippleEffect *ngIf="!gloginDisplay" >
                          SignIn with Google Workspace
                  </button>
                  <button type="submit" (click)="googleLogout()" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                            rippleEffect *ngIf="gloginDisplay" >
                            Signout from Google Workspace
                  </button>
                </div>
               
          </div>
      </div>
      
    </div>
  </div>
</div>
<div class="container">
  <router-outlet *ngIf="!isIframe"></router-outlet>
</div>
