<div color="primary">
  <!-- <a class="title" href="/">{{ title }}</a> -->

  <div class="toolbar-spacer"></div>





  <!-- <button  *ngIf="!loginDisplay" (click)="login()">Login</button> -->
  <!-- <button  color="accent" *ngIf="loginDisplay" (click)="logout()">Logout</button> -->
  <div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <div class="card-body">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <li ngbNavItem>
            <a ngbNavLink>SSO</a>
            <ng-template ngbNavContent>
              <div class="card">
                <div class="card-body" *ngIf="currentUser.plan=='Basic'">
                  <h2> Please contact Administrator</h2>
                </div>
                <div class="card-body" *ngIf="currentUser.plan!='Basic'">
                  <h2>Social SSO </h2>
                  <p>
                    {{'You must be a Global Administrator in your Azure AD & Google Account.' | translate}}<br>

                    {{'To install onboarding application, use the sign in button to proceed.' | translate}}
                  </p>
                  <div class="col-12 d-flex flex-sm-row flex-column mt-2">

                    <button type="submit" (click)="microSoftLogin()" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                      rippleEffect *ngIf="!loginDisplay">
                      {{'SignIn with Microsoft' | translate}}
                    </button>
                    <button type="submit" (click)="logout()" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                      rippleEffect *ngIf="loginDisplay">
                      SignOut with Microsoft
                    </button>

                  </div>

                  <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                    <button type="submit" (click)="googleLogin()" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                      rippleEffect *ngIf="!gloginDisplay">
                      {{'SignIn with Google Workspace' | translate}}
                    </button>
                    <button type="submit" (click)="googleLogout()" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                      rippleEffect *ngIf="gloginDisplay">
                      Signout from Google Workspace
                    </button>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>CSV</a>
            <ng-template ngbNavContent>
              <div class="card">
                <div class="card-body" *ngIf="currentUser.plan=='Basic'">
                  <h2> Please contact Administrator</h2>
                </div>
                <div class="card-body" *ngIf="currentUser.plan!='Basic'">

                  <div class="col-12 d-flex flex-sm-row flex-xolumn mt-2">

                    Download the sample teacher & student .CSV file from here.
                    <div style="margin-left:20px;">
                      <button type="submit" (click)="download('teacher')"
                        class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>
                        <span [data-feather]="'file'"></span>
                        {{'Teachers Template' | translate}}
                      </button>
                      <button type="submit" (click)="download('student')"
                        class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>
                        <span [data-feather]="'file'"></span>
                        {{'Student Template' | translate}}
                      </button>
                    </div>

                  </div><br>
                  <div class="col-12">


                    You can map multiple <b>clases</b> by giving semicolon and upload .CSV file here.
                    <!-- <label for="StudentsFileUpload">Upload students Template</label> -->
                    <input type="file" #csvReader name="Upload CSV" id="StudentsFileUpload"
                      (change)="uploadListener($event,'student')" accept=".csv" />
                  </div><br>
                  <div class="col-12">

                    You can map multiple <b>teachers</b> by giving semicolon and upload .CSV file here.
                    <!-- <label for="teachersFileUpload">Upload teachers template</label> -->
                    <input type="file" #csvReader name="Upload CSV" id="teachersFileUpload"
                      (change)="uploadListener($event,'teacher')" accept=".csv" />
                  </div>
                </div>
              </div>
            </ng-template>
          </li>

        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>


    </div>
  </div>
</div>
<div class="container">
  <router-outlet *ngIf="!isIframe"></router-outlet>
</div>