<div class="slideout-content">
    <!-- Modal to add new user starts-->
    <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
        <div class="modal-dialog">
            <form class="add-new-user modal-content pt-0" (ngSubmit)="(newUserForm.form.valid)" #newUserForm="ngForm">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="toggleSidebar('app-multimedia-sidebar')">
                    ×
                </button>
                <!-- <div class="modal-header mb-1">
                    <h5 class="modal-title" id="exampleModalLabel">New Device</h5>
                </div> -->
                <div class="modal-header mb-1">
                    <h5 class="modal-title" id="exampleModalLabel"> Broadcast multimedia</h5>




                </div>
                <div class="modal-body flex-grow-1">
                    <div>


                        <div class="greys">Broadcast multimedia to displays</div>

                        <p>Max,video file size : 300MB</p>
                        <p>Max,video file size : 30MB</p>
                    </div>
                    <ng-select [items]="mediaList" [(ngModel)]="selectedStatus" name="selectedStatus" bindLabel="name"
                        placeholder="Select Status" (change)="selectedMedia($event)"></ng-select>
                    <br>
                    <div class="footerpopup">
                        <button type="reset" class="btn btn-outline-secondary mr-1"
                            (click)="toggleSidebar('app-multimedia-sidebar')" rippleEffect>
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary " (click)="broadcastMedia()">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Modal to add new user Ends-->
</div>