.plan-list {
    padding-left: 10px;
}

.list-alignment {
    span {
        margin-right: 10px;
    }
}

.featurelist-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.featurelist-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}