<div color="primary">
    <div class="toolbar-spacer"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <div class="card-body">

                <ul ngbNav #nav="ngbNav" class="nav-tabs" (navChange)="onTabChange($event)">
                    <li ngbNavItem>
                        <a ngbNavLink>Basic</a>
                        <ng-template ngbNavContent>
                            <div class="card">
                                <div class="card-body">
                                    <h3>Please choose features for Basic Plan</h3>
                                    <div class="col-12 flex-sm-row flex-column mt-2">
                                        <div class='featurelist-row'>
                                            <div class='featurelist-column'>
                                                <div *ngFor="let feature of features; let i = index">
                                                    <div *ngIf="i <= 9"
                                                        class="custom-control custom-checkbox col-12 d-flex flex-sm-row flex-column mt-2">
                                                        <input class="custom-control-input"
                                                            (change)="changeStatus($event, 'basic')" type="checkbox"
                                                            [id]="feature" [name]="feature" [value]="feature"
                                                            [checked]="isItemChecked('basic', feature)">
                                                        <label class="custom-control-label" [for]="feature">{{feature |
                                                            translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='featurelist-column'>
                                                <div *ngFor="let feature of features; let i = index">
                                                    <div *ngIf="i >= 10 && i <= 18"
                                                        class="custom-control custom-checkbox col-12 d-flex flex-sm-row flex-column mt-2">
                                                        <input class="custom-control-input"
                                                            (change)="changeStatus($event, 'basic')" type="checkbox"
                                                            [id]="feature" [name]="feature" [value]="feature"
                                                            [checked]="isItemChecked('basic', feature)">
                                                        <label class="custom-control-label" [for]="feature">{{feature |
                                                            translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='featurelist-column'>
                                                <div *ngFor="let feature of features; let i = index">
                                                    <div *ngIf="i >= 19 && i <= 27"
                                                        class="custom-control custom-checkbox col-12 d-flex flex-sm-row flex-column mt-2">
                                                        <input class="custom-control-input"
                                                            (change)="changeStatus($event, 'basic')" type="checkbox"
                                                            [id]="feature" [name]="feature" [value]="feature"
                                                            [checked]="isItemChecked('basic', feature)">
                                                        <label class="custom-control-label" [for]="feature">{{feature |
                                                            translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                                        <button type="submit" (click)="updatePlan()"
                                            class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect
                                            *ngIf="!gloginDisplay">
                                            Update Plan
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                    <li ngbNavItem>
                        <a ngbNavLink>Premium</a>
                        <ng-template ngbNavContent>
                            <div class="card">
                                <div class="card-body">
                                    <h3>Please choose features for Premium Plan</h3>
                                    <div class="col-12 flex-sm-row flex-column mt-2">
                                        <div class='featurelist-row'>
                                            <div class='featurelist-column'>
                                                <div *ngFor="let feature of features; let i = index">
                                                    <div *ngIf="i <= 9"
                                                        class="custom-control custom-checkbox col-12 d-flex flex-sm-row flex-column mt-2">
                                                        <input class="custom-control-input"
                                                            (change)="changeStatus($event, 'premium')" type="checkbox"
                                                            [id]="feature" [name]="feature" [value]="feature"
                                                            [checked]="isItemChecked('premium', feature)">
                                                        <label class="custom-control-label" [for]="feature">{{feature |
                                                            translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='featurelist-column'>
                                                <div *ngFor="let feature of features; let i = index">
                                                    <div *ngIf="i >= 10 && i <= 18"
                                                        class="custom-control custom-checkbox col-12 d-flex flex-sm-row flex-column mt-2">
                                                        <input class="custom-control-input"
                                                            (change)="changeStatus($event, 'premium')" type="checkbox"
                                                            [id]="feature" [name]="feature" [value]="feature"
                                                            [checked]="isItemChecked('premium', feature)">
                                                        <label class="custom-control-label" [for]="feature">{{feature |
                                                            translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='featurelist-column'>
                                                <div *ngFor="let feature of features; let i = index">
                                                    <div *ngIf="i >= 19 && i <= 27"
                                                        class="custom-control custom-checkbox col-12 d-flex flex-sm-row flex-column mt-2">
                                                        <input class="custom-control-input"
                                                            (change)="changeStatus($event, 'premium')" type="checkbox"
                                                            [id]="feature" [name]="feature" [value]="feature"
                                                            [checked]="isItemChecked('premium', feature)">
                                                        <label class="custom-control-label" [for]="feature">{{feature |
                                                            translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                                        <button type="submit" (click)="updatePlan()"
                                            class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect
                                            *ngIf="!gloginDisplay">
                                            Update Plan
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                    <li ngbNavItem>
                        <a ngbNavLink>Enterprise</a>
                        <ng-template ngbNavContent>
                            <div class="card">
                                <div class="card-body">
                                    <h3>Please choose features for Enterprise Plan</h3>
                                    <div class="col-12 flex-sm-row flex-column mt-2">
                                        <div class='featurelist-row'>
                                            <div class='featurelist-column'>
                                                <div *ngFor="let feature of features; let i = index">
                                                    <div *ngIf="i <= 9" class="custom-control custom-checkbox col-12 d-flex flex-sm-row flex-column mt-2">
                                                        <input class="custom-control-input"
                                                            (change)="changeStatus($event, 'enterprise')"
                                                            type="checkbox" [id]="feature" [name]="feature"
                                                            [value]="feature"
                                                            [checked]="isItemChecked('enterprise', feature)">
                                                        <label class="custom-control-label" [for]="feature">{{feature |
                                                            translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='featurelist-column'>
                                                <div *ngFor="let feature of features; let i = index">
                                                     <div *ngIf="i >= 10 && i <= 18" class="custom-control custom-checkbox col-12 d-flex flex-sm-row flex-column mt-2">
                                                        <input class="custom-control-input"
                                                            (change)="changeStatus($event, 'enterprise')"
                                                            type="checkbox" [id]="feature" [name]="feature"
                                                            [value]="feature"
                                                            [checked]="isItemChecked('enterprise', feature)">
                                                        <label class="custom-control-label" [for]="feature">{{feature |
                                                            translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='featurelist-column'>
                                                <div *ngFor="let feature of features; let i = index">
                                                    <div *ngIf="i >= 19 && i <= 27"
                                                        class="custom-control custom-checkbox col-12 d-flex flex-sm-row flex-column mt-2">
                                                        <input class="custom-control-input"
                                                            (change)="changeStatus($event, 'enterprise')"
                                                            type="checkbox" [id]="feature" [name]="feature"
                                                            [value]="feature"
                                                            [checked]="isItemChecked('enterprise', feature)">
                                                        <label class="custom-control-label" [for]="feature">{{feature |
                                                            translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                                        <button type="submit" (click)="updatePlan()"
                                            class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect
                                            *ngIf="!gloginDisplay">
                                            Update Plan
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                    <li ngbNavItem>
                        <a ngbNavLink>Customize</a>
                        <ng-template ngbNavContent>
                            <div class="card">
                                <div class="card-body">
                                    <h3>Please choose features after selecting Client</h3>
                                    <div class="form-group">
                                        <!-- <label class="form-label" for="client">{{'Select Client' | translate}}</label> -->
                                        <select id="client" class="form-control" id="client" name='client'
                                            [(ngModel)]="client" (change)="onClientSelect()">
                                            <option *ngFor="let client of clientList" [value]="client.userId">
                                                {{client?.organisation}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-12 flex-sm-row flex-column mt-2">
                                        <div class='featurelist-row'>
                                            <div class='featurelist-column'>
                                                <div *ngFor="let feature of clientAssignedFeatures; let i = index">
                                                    <div *ngIf="i <= 09"
                                                        class="custom-control custom-checkbox col-12 d-flex flex-sm-row flex-column mt-2">
                                                        <input class="custom-control-input"
                                                            (change)="changeStatus($event, 'customize')" type="checkbox"
                                                            [id]="feature.name" [name]="feature.name"
                                                            [value]="feature.name" [checked]="feature.value">
                                                        <label class="custom-control-label"
                                                            [for]="feature.name">{{feature.name |
                                                            translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='featurelist-column'>
                                                <div *ngFor="let feature of clientAssignedFeatures; let i = index">
                                                    <div *ngIf="i >= 10 && i <= 18"
                                                        class="custom-control custom-checkbox col-12 d-flex flex-sm-row flex-column mt-2">
                                                        <input class="custom-control-input"
                                                            (change)="changeStatus($event, 'customize')" type="checkbox"
                                                            [id]="feature.name" [name]="feature.name"
                                                            [value]="feature.name" [checked]="feature.value">
                                                        <label class="custom-control-label"
                                                            [for]="feature.name">{{feature.name |
                                                            translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='featurelist-column'>
                                                <div *ngFor="let feature of clientAssignedFeatures; let i = index">
                                                    <div *ngIf="i >= 19 && i <= 27"
                                                        class="custom-control custom-checkbox col-12 d-flex flex-sm-row flex-column mt-2">
                                                        <input class="custom-control-input"
                                                            (change)="changeStatus($event, 'customize')" type="checkbox"
                                                            [id]="feature.name" [name]="feature.name"
                                                            [value]="feature.name" [checked]="feature.value">
                                                        <label class="custom-control-label"
                                                            [for]="feature.name">{{feature.name |
                                                            translate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="selectedTab !== 'customize'"
                                        class="col-12 d-flex flex-sm-row flex-column mt-2">
                                        <button type="submit" (click)="updatePlan()"
                                            class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect
                                            *ngIf="!gloginDisplay">
                                            Update Plan {{selectedTab}}
                                        </button>
                                    </div>
                                    <div *ngIf="selectedTab == 'customize'" class=" col-12 d-flex flex-sm-row flex-column
                                        mt-2">
                                        <button type="submit" (click)="updateUserPlan()"
                                            class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect
                                            *ngIf="!gloginDisplay">
                                            Update User Plan
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
        </div>
    </div>
</div>