<div class="slideout-content">
    <!-- Modal to add new user starts-->
    <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
        <div class="modal-dialog">
            <form class="add-new-user modal-content pt-0" (ngSubmit)="(newUserForm.form.valid)" #newUserForm="ngForm">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="toggleSidebar('app-command-sidebar')">
                    ×
                </button>
                <!-- <div class="modal-header mb-1">
                    <h5 class="modal-title" id="exampleModalLabel">New Device</h5>
                </div> -->
                <div class="modal-header mb-1">
                    <h5 class="modal-title" id="exampleModalLabel"> {{'Broadcast command' | translate}}</h5>




                </div>
                <div class="modal-body flex-grow-1">
                    <div>
                        <div class="greys">{{'Broadcast command to displays' | translate}}</div>
                    </div>
                    <ng-select class="mb-2" [items]="commandList" [(ngModel)]="selectedStatus" name="selectedStatus"
                        bindLabel="name" placeholder="{{'Select Command' | translate}}"
                        (change)="selectedCommand($event)"></ng-select>
                    <ng-multiselect-dropdown *ngIf="!this.devices.length" class="mb-2" id="devices" name='groupName'
                        placeholder="{{'Select Device Group' | translate}}" [settings]="classDropdownSettings"
                        [data]="deviceGroupList" [(ngModel)]="selectedDevices" (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelect)="onDeselect($event)"
                        (onDeSelectAll)="onDeselectAll($event)">
                    </ng-multiselect-dropdown>
                    <br>
                    <div class="form-group position-relative">
                        <label for="start-date" class="form-label">{{'Start Date' | translate}}</label>
                        <ng2-flatpickr [config]="startDateOptions" name="startDate" [setDate]="startDate"
                            #startDatePicker required>
                        </ng2-flatpickr>
                    </div>
                    <div class="form-group position-relative">
                        <label for="start-date" class="form-label">{{'End Date' | translate}}</label>
                        <ng2-flatpickr [config]="endDateOptions" name="endDate" [setDate]="endDate" #endDatePicker
                            required>
                        </ng2-flatpickr>
                    </div>
                    <div class="form-group position-relative">
                        <label for="start-date" class="form-label">{{'Time' | translate}}</label>
                        <input type="time" class="form-control" id="triggerTime" name="triggerTime" min="00:00"
                            [(ngModel)]="scheduleTime" max="24:00" required>
                    </div>
                    <div class="footerpopup" class="mt-2">
                        <button type="reset" class="btn btn-outline-secondary mr-1"
                            (click)="toggleSidebar('app-command-sidebar')" rippleEffect>
                            {{'Cancel' | translate}}
                        </button>
                        <button type="submit" class="btn btn-primary " (click)="broadcastCommand()">{{'Send' |
                            translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Modal to add new user Ends-->
</div>