<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo-->
    <!-- <a class="brand-logo" href="javascript:void(0);">
      <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" width="260" />
    </a> -->
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-7 align-items-center p-5">
      <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
        <img [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/reset-password-v2-dark.svg'
              : 'assets/images/pages/reset-password-v2.svg'
          " img-fluid="img-fluid" alt="Register V2" />
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Reset password-->
    <div class="d-flex col-lg-5 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">Notifications</h2>
        <p class="card-text mb-2">Please send notifications by adding title and body</p>
        <form class="auth-reset-password-form mt-2" [formGroup]="notificationsForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="reset-password-new">Notification Title</label>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input type="text" formControlName="title" name="title" class="form-control form-control-merge"
                placeholder="············" aria-describedby="reset-password-new" tabindex="1" autofocus
                [ngClass]="{ 'is-invalid error': submitted && f.title.errors }" />

            </div>

          </div>
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="reset-password-confirm">Notification Body</label>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <textarea rows="4" cols="10" formControlName="body" class="form-control form-control-merge"
                placeholder="············" aria-describedby="reset-password-confirm" tabindex="2"
                [ngClass]="{ 'is-invalid error': submitted && f.body.errors }" name="body"></textarea>

            </div>
            <div class="form-group" style="margin-top: 20px;">
              <form class="event-form needs-validation" (ngSubmit)="(eventForm.form.valid); eventForm.reset()"
                #eventForm="ngForm">

                <!-- <div style="margin-top: 20px;">
                  <ng-multiselect-dropdown [placeholder]="'All Users'" [settings]="dropdownSettings"
                    [data]="allUsers" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)">
                  </ng-multiselect-dropdown>
                 </div> -->
                <div style="margin-top: 20px;">
                  <ng-multiselect-dropdown [placeholder]="'All Schools'" [settings]="dropdownSettings"
                    [data]="allSchools" *ngIf="isAdmin()" [(ngModel)]="selectedSchools"
                    (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" name="school">
                  </ng-multiselect-dropdown>
                </div>
                <div style="margin-top: 20px;">
                  <ng-multiselect-dropdown [placeholder]="'All Teachers'" [settings]="dropdownSettings"
                    [data]="allTeachers" *ngIf="isSchool()" [(ngModel)]="selectedTeachers"
                    (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" name="teacher">
                  </ng-multiselect-dropdown>
                </div>

                <div style="margin-top: 20px;">
                  <ng-multiselect-dropdown [placeholder]="'All Students'" [settings]="dropdownSettings"
                    [data]="allStudents" *ngIf="isSchool()" [(ngModel)]="selectedItems"
                    (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" name="student">
                  </ng-multiselect-dropdown>
                </div>
              </form>
            </div>

          </div>
          <button class="btn btn-primary btn-block" tabindex="3" rippleEffect>Send Notification</button>
        </form>

      </div>
    </div>
    <!-- /Reset password-->
  </div>
</div>