<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
      <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" width="260" />
      </a
    >
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
      <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
        <img
          class="img-fluid"
          [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/register-v2-dark.svg'
              : 'assets/images/pages/register-v2.svg'
          "
          alt="Register V2"
        />
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Register-->
    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">Welcome to StreamBoard 🚀</h2>
        <p class="card-text mb-2">Make your app management easy and fun!</p>
        <form class="auth-register-form mt-2" [formGroup]="sregisterForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="register-username" class="form-label">Organisation Full Name</label>
            <input
              type="text"
              formControlName="username"
              class="form-control"
              placeholder="johndoe"
              aria-describedby="register-username"
              tabindex="1"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
            />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Organisation Full Name is required</div>
            </div>
          </div>
          
           <div class="form-group">
              <label for="register-fullname" class="form-label">Owner Full name</label>
              <input type="text" formControlName="fullname" class="form-control" placeholder="Enter your Name"
                aria-describedby="register-fullname" tabindex="1" autofocus
                [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" />
              <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                <div *ngIf="f.fullname.errors.required">owner name is required</div>
              </div>
            </div>
            
          <div class="form-group">
            <label for="register-email" class="form-label">Owner Email</label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              placeholder="john@example.com"
              aria-describedby="register-email"
              tabindex="2"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>

            <div class="form-group">
              <label for="register-mobilenumber" class="form-label">MobileNumber</label>
              <input type="text" formControlName="mobilenumber" class="form-control" placeholder="+91-1234567890"
                aria-describedby="register-mobilenumber" tabindex="1" autofocus
                [ngClass]="{ 'is-invalid': submitted && f.mobilenumber.errors }" />
              <div *ngIf="submitted && f.mobilenumber.errors" class="invalid-feedback">
                <div *ngIf="f.mobilenumber.errors.required">mobilenumber is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="register-location" class="form-label">Address</label>
              <input type="text" formControlName="location" class="form-control" placeholder="Enter your location"
                aria-describedby="register-location" tabindex="1" autofocus
                [ngClass]="{ 'is-invalid': submitted && f.location.errors }" />
              <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                <div *ngIf="f.location.errors.required">address is required</div>
              </div>
            </div>

           

            <div class="form-group">
              <label for="register-firstname" class="form-label">First name</label>
              <input type="text" formControlName="firstname" class="form-control" placeholder="Enter your First name"
                aria-describedby="register-firstname" tabindex="1" autofocus
                [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
              <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                <div *ngIf="f.firstname.errors.required">firstname is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="register-lastname" class="form-label">Last name</label>
              <input type="text" formControlName="lastname" class="form-control" placeholder="Enter your last name"
                aria-describedby="register-lastname" tabindex="1" autofocus
                [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
              <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                <div *ngIf="f.lastname.errors.required">lastname is required</div>
              </div>
            </div>

         
          <div class="form-group">
            <label for="register-it-email" class="form-label">IT Admin Email</label>
            <input
              type="text"
              formControlName="itemail"
              class="form-control"
              placeholder="john@example.com"
              aria-describedby="register-it-email"
              tabindex="2"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">IT Email is required</div>
              <div *ngIf="f.email.errors.email">IT Email must be a valid email address</div>
            </div>
          </div>
         
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="register-privacy-policy" tabindex="4" />
              <label class="custom-control-label" for="register-privacy-policy">
                I agree to <a href="javascript:void(0);">privacy policy & terms</a>
              </label>
            </div>
          </div>
          <button class="btn btn-primary btn-block" tabindex="5" rippleEffect>Sign up</button>
        </form>
        <p class="text-center mt-2">
          <span>Already have an account?</span
          ><a routerLink="/pages/authentication/login-v2"><span>&nbsp;Sign in instead</span></a>
        </p>
        <div class="divider my-2">
          <div class="divider-text">or</div>
        </div>
        <div class="auth-footer-btn d-flex justify-content-center">
          <a class="btn btn-facebook" href="javascript:void(0)"><i data-feather="facebook"></i></a
          ><a class="btn btn-twitter white" href="javascript:void(0)"><i data-feather="twitter"></i></a
          ><a class="btn btn-google" href="javascript:void(0)"><i data-feather="mail"></i></a
          ><a class="btn btn-github" href="javascript:void(0)"><i data-feather="github"></i></a>
        </div>
      </div>
    </div>
    <!-- /Register-->
  </div>
</div>
