<div class="content-wrapper container-xxl p-0">
    <div class="content-body" style="padding: 5%;">
        <div class="row match-height">
            <!-- Medal Card -->
            <div class="col-xl-4 col-md-6 col-12">
                <div class="card card-congratulation-medal">
                    <div class="card-body">
                        <div class="media">
                            <div class="avatar bg-light-primary mr-2">
                                <div class="avatar-content">
                                    <i data-feather="monitor" class="avatar-icon"></i>
                                </div>
                            </div>
                            <div class="media-body my-auto">
                                <a href="https://www.google.com" target="_blank" class='card-link'>
                                    <h5>{{'Streambord Whiteboard'}} </h5>
                                </a>
                            </div>
                        </div>
                        <!-- <button type="button" class="btn btn-primary" rippleEffect>{{ currentUser?.plan }}</button> -->
                        <!-- <img src="assets/images/illustration/badge.svg" class="congratulation-medal" alt="Medal Pic" /> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-12">
                <div class="card card-congratulation-medal">
                    <div class="card-body">
                        <div class="media">
                            <div class="avatar bg-light-primary mr-2">
                                <div class="avatar-content">
                                    <i data-feather="airplay" class="avatar-icon"></i>
                                </div>
                            </div>
                            <div class="media-body my-auto">
                                <a href="https://www.google.com" target="_blank">
                                    <h5>{{'Streambord Devicemanger'}} </h5>
                                </a>
                            </div>
                        </div>
                        <!-- <button type="button" class="btn btn-primary" rippleEffect>{{ currentUser?.plan }}</button> -->
                        <!-- <img src="assets/images/illustration/badge.svg" class="congratulation-medal" alt="Medal Pic" /> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-12">
                <div class="card card-congratulation-medal">
                    <div class="card-body">
                        <div class="media">
                            <div class="avatar bg-light-primary mr-2">
                                <div class="avatar-content">
                                    <i data-feather="download" class="avatar-icon"></i>
                                </div>
                            </div>
                            <div class="media-body my-auto">
                                <a href="https://www.google.com" target="_blank">
                                    <h5>{{'Streambord Download'}} </h5>
                                </a>
                            </div>
                        </div>
                        <!-- <button type="button" class="btn btn-primary" rippleEffect>{{ currentUser?.plan }}</button> -->
                        <!-- <img src="assets/images/illustration/badge.svg" class="congratulation-medal" alt="Medal Pic" /> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row match-height">
            <!-- Medal Card -->
            <div class="col-xl-2 col-md-6 col-12">

            </div>
            <div class="col-xl-4 col-md-6 col-12">
                <div class="card card-congratulation-medal">
                    <div class="card-body">
                        <div class="media">
                            <div class="avatar bg-light-primary mr-2">
                                <div class="avatar-content">
                                    <i data-feather="sun" class="avatar-icon"></i>
                                </div>
                            </div>
                            <div class="media-body my-auto">
                                <a href="https://www.google.com" target="_blank">
                                    <h5>{{'Knowledge'}} </h5>
                                </a>
                            </div>
                        </div>
                        <!-- <button type="button" class="btn btn-primary" rippleEffect>{{ currentUser?.plan }}</button> -->
                        <!-- <img src="assets/images/illustration/badge.svg" class="congratulation-medal" alt="Medal Pic" /> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-12">
                <div class="card card-congratulation-medal">
                    <div class="card-body">
                        <div class="media">
                            <div class="avatar bg-light-primary mr-2">
                                <div class="avatar-content">
                                    <i data-feather="help-circle" class="avatar-icon"></i>
                                </div>
                            </div>
                            <div class="media-body my-auto">
                                <a href="https://www.google.com" target="_blank">
                                    <h5>{{'Support'}} </h5>
                                </a>
                            </div>
                        </div>
                        <!-- <button type="button" class="btn btn-primary" rippleEffect>{{ currentUser?.plan }}</button> -->
                        <!-- <img src="assets/images/illustration/badge.svg" class="congratulation-medal" alt="Medal Pic" /> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 col-12">

            </div>
        </div>
    </div>