<div class="main main-card">
   

    <div class="card">
        <div class="card-body">
		 <h2 style="margin-left: 14px;">Welcome {{user.firstName + user.lastName}}!</h2>
            <div class="content-wrapper container-xxl p-0">
                <div class="content-body" style="padding: 5%;">
                    <div class="row match-height">
                        <!-- Medal Card -->
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="card">
                                <div class="card-body">
                                   

                                            <img src="../../../../../assets/images/icons/sb-whiteboard.png" width="60" alt="" />     
                                                
                                        <div class="media-body">   
                                            <a href="https://class.thestreamboard.com/" target="_blank"
                                                class='card-link'>
                                                <h5>{{'Streambord Whiteboard'}} </h5>
                                            </a>
                                        </div>
                                   
                                    <!-- <button type="button" class="btn btn-primary" rippleEffect>{{ currentUser?.plan }}</button> -->
                                    <!-- <img src="assets/images/illustration/badge.svg" class="congratulation-medal" alt="Medal Pic" /> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="card">
                                <div class="card-body">
                                  
                                        <img src="../../../../../assets/images/icons/settingicon.png" width="60" alt="" />  
                                        <div class="media-body">
                                            <a href="https://admin.thestreamboard.com/#/apps/user/alldevices">
                                                <h5>{{'Streambord Devicemanger'}} </h5>
                                            </a>
                                      
                                       
                                    </div>
                                    <!-- <button type="button" class="btn btn-primary" rippleEffect>{{ currentUser?.plan }}</button> -->
                                    <!-- <img src="assets/images/illustration/badge.svg" class="congratulation-medal" alt="Medal Pic" /> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="card">
                                <div class="card-body">
								
                                    <img src="../../../../../assets/images/icons/download-new.png" width="60" alt="" />  
                                     
                                        <div class="media-body">
                                            <a href="#">
                                                <h5>{{'Streambord Download'}} </h5>
                                            </a>
											<div style="margin-left:110px;"><a href="https://www.thestreamboard.com/Streamboard.exe">
<img src="../../../../../assets/images/icons/windows.png" width="40" alt=""/>  </a><a href="https://www.thestreamboard.com/streamboard.apk">
<img src="../../../../../assets/images/icons/android.png" width="40" alt="" style="margin-left:10px;"/></a>  </div>
                                        </div>

                                           
                                  
                                    <!-- <button type="button" class="btn btn-primary" rippleEffect>{{ currentUser?.plan }}</button> -->
                                    <!-- <img src="assets/images/illustration/badge.svg" class="congratulation-medal" alt="Medal Pic" /> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row match-height">
                        <!-- Medal Card -->
                        <div class="col-xl-2 col-md-6 col-12"> </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media">
                                        <img src="../../../../../assets/images/icons/knowledge base.png" width="55" alt="" /> 
                                        <div class="media-body">
                                            <a href="https://www.thestreamboard.com/knowledge-base/" target="_blank">
                                                <h5>{{'Knowledge Base'}} </h5>
                                            </a>
                                        </div>
                                        <div class="media-footer">

                                        </div>
                                    </div>
                                    <!-- <button type="button" class="btn btn-primary" rippleEffect>{{ currentUser?.plan }}</button> -->
                                    <!-- <img src="assets/images/illustration/badge.svg" class="congratulation-medal" alt="Medal Pic" /> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media">
                                         <img src="../../../../../assets/images/icons/support.png" width="55" alt="" /> 
                                        <div class="media-body">
                                            <a href="https://www.thestreamboard.com/support/" target="_blank">
                                                <h5>{{'Support'}} </h5>
                                            </a>
                                        </div>
                                        <div class="media-footer">

                                        </div>
                                    </div>
                                    <!-- <button type="button" class="btn btn-primary" rippleEffect>{{ currentUser?.plan }}</button> -->
                                    <!-- <img src="assets/images/illustration/badge.svg" class="congratulation-medal" alt="Medal Pic" /> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-6 col-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>