.slideout-content
{
    .modal-slide-in .modal-dialog {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        margin: 0;
        max-width: none;
        width: 20rem;
        margin: 0 auto;
        width: 400px;
        left: 0;
        height: 510px;
      
    }
    
    .modal-slide-in .modal-dialog .modal-content{
        padding-bottom:0 ;
        border-radius: 20px;
    }
    .modal-header{
        background-color: #fff;
        padding: 30px 20px;
        p{margin:5px 0; font-weight: 600;}
        h3{
            font-weight: 600;
        }

       
    }
    .modal-slide-in .close {        
        top: 40px;
        font-size: 45px;
    }
}
